.row{
   padding-left: 500px ;
}
hr{
    margin-left: 10px;
}
.inline{
    display: flex;
    gap: 40px;
}
h2{
    margin-right: 500px;
}
.four{
    display: flex;
}
.three{
    display: flex;
}
.one{
    display: flex;
}
.two{
    display: flex;
}
