.card{
    margin-top: 30px;
    width: 500px;
    margin-bottom:  300px;

}
.forgot-password{
    padding-left: 20px;
}

h2{
    padding-left: 190px;
    margin-top: 150px;
    color: black;
}


.underline-on-hover {
    text-decoration: none;
    color: palevioletred;
}

.underline-on-hover:hover {
    text-decoration: underline;
    color: rgb(240, 6, 84);
}