.favorite-icon {
    font-size: 35px;
    color: palevioletred;
    cursor: pointer;
    /* display: none; */
}

.favorite-icon.filled {
    color: rgb(255, 0, 98);
}

.favorite-image {
    width: 200px;
    height: 200px;
}

.favorite-image.filled {
    border: 2px solid rgb(243, 235, 235);
}

.into {
    margin-top: 100px;
    font-size: 70px;
    font-weight: 900;
    letter-spacing: 10px;
    background:linear-gradient(135deg,#000000,#ef6e93,#f2379b,#FF2966,#030303,#f687a7,#f2379b,#FF2966,#000000,#ef6e93,#f2379b,#FF2966,#030303,#f687a7,#f2379b,#FF2966);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    animation: gradient_we_have_many_rooms 10s ease-in-out infinite;
    text-align: center;
}

.image-container {
    position: relative;
    display: inline-block;
}

.delete-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .delete-icon {
    opacity: 1;
}

#block_favorite {
    padding: 0px 30px;
}