body{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}
.profile-home-page{
    margin: 0 200px;
    margin-bottom: 100px;
}
.row-name{
    margin-top: 120px;
    /* margin: 0px 100px; */
    text-align: center;
    margin-bottom: 50px;
}
.img-avt{
    width: 200px;
    border-radius: 999px;
}
.name-user{
    padding-top: 10px;
    font-weight: bold;
    font-size: 30px;
}

.list--profile{
    border: 1px solid #FF2966 ;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 2px 5px  #FF2966;
    justify-content: space-around;
    align-items: center;
    /* text-align: center; */
}
.list--profile>p{
    margin: 0;
}
.list--profile>a{
    color: black !important;
}
<<<<<<< HEAD
=======
.text-white{
    padding: 0px;
}

/* footer */
.nav_text_footer:hover{
    color: #ff34ff; 
}
.footer_contact{
    margin-bottom: 10px;
    margin-top: 10px;
}

/* responsive */
/* .list-navbar{
    display: none;
} */
/* responsive */
@media screen and (max-width: 415px) {
    body{
        margin:0;
    }
    .profile-home-page{
        margin: 0;
    }
    .list--profile{
        margin-top: 25px;
        width: 90%;
    }
    .row{
         --bs-gutter-x: 0px;
        margin-left:0px;
        margin-right: 0px;
    }
}
>>>>>>> 1162ad2bb562106dec28c13eb6cadb8b7dc51239
